APP_PORT=8080

POSTGRES_DB=gymtracker_db
POSTGRES_USER=gymtracker
POSTGRES_PASSWORD=change_me_strong_password

TELEGRAM_BOT_USERNAME=Gym_Tracker_app_bot
TELEGRAM_BOT_TOKEN=change_me_bot_token
TELEGRAM_AUTH_ENABLED=true

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_FORMAT_SQL=false
